<div class="layout">
  
       {{ rss.channel.item[0].encoded }}
  
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">Indexed Blog thisisindexed.com</span>
  <span class="instance">by Jessica Hagy</span>
</div>