{% assign img_tag_half_horizontal = img_tag | replace: 'w--full h--full', 'w--auto h--full' %}

<div class="layout layout--col layout--center bg--white px--large">
  {{ img_tag_half_horizontal }}
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ "Indexed Blog thisisindexed.com" }}</span>
  <span class="instance">by Jessica Hagy</span>
</div>
