<div class="view bg-white">
  <div class="image-container">
    {{ img_tag }}
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ "Indexed Blog" }}</span>
  <span class="instance">by Jessica Hagy</span>
</div>
